@page "/memberOverviewPage"
@using System.Diagnostics
@using Newtonsoft.Json
@inject NavigationManager Navigation

<div class="container-fluid">

    <Modal @ref="memberModal" IsVerticallyCentered="true" IsScrollable="true">
        <BodyTemplate>
            <div class="text-center py-2 px-2">
                <span class="h4" style="color: #9b78ff">Lid toevoegen</span>
                <div class="form-group px-3">
                    <input @bind="chosenUser" type="text" class="form-control my-3 bg-light" placeholder="Gebruikersnaam van gebruiker..." required>
                </div>
                <div class="form-group px-3">
                    <select @bind="@chosenRole" class="form-select my-3 bg-light" aria-label="Default select example">
                        <option selected>Selecteer rol...</option>
                        <option value="voorzitter">voorzitter</option>
                        <option value="vice-voorzitter">vice-voorzitter</option>
                        <option value="notulist">notulist</option>
                        <option value="code controleur">code controleur</option>
                        <option value="planner">planner</option>
                    </select>
                </div>
                <div class="form-group px-3">
                    <select class="form-select my-3 bg-light" aria-label="Default select example" disabled>
                        @if (currentProject == null)
                        {
                            <option disabled>Laden...</option>
                        }
                        else
                        {

                            if (currentProject != null)
                            {
                                <option value="@currentProject.Id">@currentProject.Title</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group px-3">
                    <Button @onclick="addUserToProject"  Type="ButtonType.Submit" Class="btn w-100" Style="background-color: #9b78ff;">
                        <span class="h5 text-white">Lid toevoegen</span>
                    </Button>
                </div>
            </div>
        </BodyTemplate>
    </Modal>

    <div class="row">
        <div class="col-lg-12 bg-white rounded p-3">
            <p class="h1 fw-bold" style="color: #9b78ff">Mijn groep</p>
            <div class="row">
                <div class="col-md-9">
                    @if (roles == null)
                    {
                        <p>Geen leden in project of beschikbaar...</p>
                    }
                    else
                    {
                        @foreach(var role in roles)
                        {
                            if (role != null)
                            {
                                <div class="btn member-button" @onclick="() => NavigateToRole(role.Id)">
                                    <i class="bi bi-person-fill icon-100"></i>
                                    <p>@role.Username (@role.RoleName)</p>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="btn add-back-button" @onclick="ShowAddMemberModal">
                            <i class="bi bi-plus-lg icon-100"></i>
                            <p>Lid toevoegen</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn add-back-button">
                            <i class="bi bi-arrow-left-square-fill icon-100"></i>
                            <p>Terug</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>